.Card {
    border-radius: 10px;
    border: 4px solid black;
    background-color: white;
    height: 140px;
    width: 90px;
    position: absolute;
    filter: drop-shadow(1px 1px 6px)
}

.Card:hover{
    border-color: gray;
}
.Card p {
    margin: 0;
    padding: 0;
}

.Card .Rank {
    font-weight: bold;
    position: absolute;
    left: 5px;
}
.Card .Suit {
    position: absolute;
    top: 13px;
    left: 5px;
}
.Card .LargeSuit {
    font-size: 70px;
    padding-top: 20px;
}
.Card .RankUpsideDown {
    transform: rotate(-180deg);
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.Card .SuitUpsideDown {
    transform: rotate(-180deg);
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 13px;
}

.CardSideways {
    transform: rotate(-90deg);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}