.LoginPage {
  background-color: green;
  position: fixed;
  height: 100%;
  width: 100%;
}
input {
  display: block;
}

.LoginPage .login-register-box {
  padding: 30px;
  margin: auto;
  background-color: white;
  width: 250px;
  justify-content: center;
  margin-top: 150px;
}
