.GameSelection {
    background-color: green;
    height: 100%;
    width: calc(100% - 150px);
    position: fixed;
    top: 40px;
    left: 150px;
    padding-top: 20px;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-left: 20px;
    row-gap: 20px;
    column-gap: 20px;
    min-width: 200px;
}